@import "../../__scss_config__/appdefaults.scss";

.landing-hero-container {
  background: black;
  // background: rgb(63,94,251);
  // background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  // background-image: url("landinghero.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 100vh;
  position: relative;
}


.infinity-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 50px;
}

.frame {
  width: 900px;
  height: 900px;
  position:absolute;
  border-radius: 50px;
  transform: rotate(40deg) translate(0px) translateZ(0px);
  box-shadow: 0px 0px 10px #00ccff,
  inset 0px 0px 10px #00ccff,
  0px 0px 20px #9c27b0,
  inset 0px 0px 20px #9c27b0;
  // filter:brightness(1.5) contrast(2);
}

.animate__animated.animate__jello {
  --animate-duration: 30s;
}


.frame:nth-child(1) {
  transform: rotate(40deg) translate(0px) translateZ(0px);
  opacity: 1.00;
}
.frame:nth-child(2) {
  transform: rotate(40deg) translate(50px) translateZ(-10px);
  opacity: 0.9;
}
.frame:nth-child(3) {
  transform: rotate(40deg) translate(100px) translateZ(-20px);
  opacity: 0.85;
}
.frame:nth-child(4) {
  transform: rotate(40deg) translate(150px) translateZ(-30px);
  opacity: 0.80;
}
.frame:nth-child(5) {
  transform: rotate(40deg) translate(200px) translateZ(-40px);
  opacity: 0.75;
}
.frame:nth-child(6) {
  transform: rotate(40deg) translate(250px) translateZ(-50px);
  opacity: 0.70;
}
.frame:nth-child(7) {
  transform: rotate(40deg) translate(300px) translateZ(-60px);
  opacity: 0.65;
}
.frame:nth-child(8) {
  transform: rotate(40deg) translate(350px) translateZ(-70px);
  opacity: 0.60;
}
.frame:nth-child(9) {
  transform: rotate(40deg) translate(400px) translateZ(-80px);
  opacity: 0.55;
}
.frame:nth-child(10) {
  transform: rotate(40deg) translate(450px) translateZ(-90px);
  opacity: 0.50;
}
.frame:nth-child(11) {
  transform: rotate(40deg) translate(500px) translateZ(-100px);
  opacity: 0.4;
}
.frame:nth-child(12) {
  transform: rotate(40deg) translate(550px) translateZ(-110px);
  opacity: 0.3;
}
.frame:nth-child(13) {
  transform: rotate(40deg) translate(600px) translateZ(-120px);
  opacity: 0.2;
}
.frame:nth-child(14) {
  transform: rotate(40deg) translate(650px) translateZ(-130px);
  opacity: 0.1;
}

#key, #equals {
  width: 50px;
  height: 50px;
  margin: 5px;
}

#alert-container {
  position: absolute;
  top: 0;
  left: 0;
}

#input1 {
  margin-right: 5px;
}

.calc-header-row {
  width: 235px;
  margin: 5px;
}

.input-clear-row {
  display: flex;
  width: 235px;
  margin: 5px;
}

#result-value {
  color: #e91e63;
}

.solar-power {
  height: 30px;
  border-radius: 18px;
}

#calc-container {
  background: grey;
  padding: 15px;
  border-radius: 9px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 15px;
}

/* The slow way */
.make-it-slow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.make-it-slow:hover {
  box-shadow: 3px 5px 5px 1px black;
}

/* The fast way */
.make-it-fast {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

/* Pre-render the bigger shadow, but hide it */
.make-it-fast::after {
  box-shadow: 3px 5px 5px 1px black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.light-beam {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px #f0f, /* middle magenta */
    0 0 140px 90px #0ff; /* outer cyan */
  transition: box-shadow 0.3s ease-in-out;  
}

.light-beam:hover {
  box-shadow:
  0 0 60px 60px #fff,  /* inner white */
  0 0 100px 90px #f0f, /* middle magenta */
  0 0 140px 120px #0ff; /* outer cyan */
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to showing the bigger shadow on hover */
.make-it-fast:hover::after {
  opacity: 1;
}

.solar-panal-highlight {
  transition: box-shadow 400ms;
  box-shadow: 0px 0px 13px 1px yellow;
}

strong {
  color: #e91e63;
  font-weight: bold;
}

#dance {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 275px;
}

#dance img {
  width: 50px;
}

.thought {
  visibility: hidden;
  display:flex;
  flex-wrap: wrap;
  background-color:#fff;
  color: black;
  padding:20px;
  border-radius:30px;
  min-width:40px;
  max-width:220px;
  min-height:40px;
  margin:20px;
  position:relative;
  align-items:center;
  justify-content:center;
  z-index: 99999;
}
.thought:before,
.thought:after {
  content:"";
  background-color:#fff;
  border-radius:50%;
  display:block;
  position:absolute;
  z-index:-1;
}
.thought:before {
  width:44px;
  height:44px;
  top:-12px;
  left:28px;
  box-shadow:-50px 30px 0 -12px #fff;
}
.thought:after {
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 #fff,
             -28px -6px 0 -2px #fff,
             -24px 17px 0 -6px #fff,
             -5px 25px 0 -10px #fff;
  
}

.space-is-awesome {
  background: linear-gradient(-45deg, black, rgb(44, 1, 40), #222,#222);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
