@import "../../__scss_config__/appdefaults.scss";

.hero-container {
  height: 100vh;
  background: linear-gradient(
    -45deg
    , #325D79, #21a597, #293880, #F9A26C);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-section {
  font-size: 24px;
  color: white;
  position: absolute;
  font-family: 'Dancing Script', cursive;
   top: 0;
  left: 50px;
}

// what i'm going for here is a like a future ipad kinda thing (display);

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.1));
  border-radius: 2rem;
  backdrop-filter: blur(2rem);

  transform:
    rotateX(51deg)
    rotateZ(43deg);
  transform-style: preserve-3d;
  border-radius: 32px;
  box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;

  &:hover {
    transform: translate3d(0px, 0px, -250px);
  }
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  border-radius: 50%;
  height: 10px;
  /* border: solid 1px #ffffff; */
  transform-origin: top left;
  transform: scale(0) rotate(
0deg
) translate(-50%, -50%);
  animation: cube 18s ease-in forwards infinite;
  box-shadow: 1px 1px 1px 13px #ffffff17;
}

.cube:nth-child(2n) {
  border-color: #FFF ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

.statusBar {
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background: #080fadc2;
  height: 25px;
  backdrop-filter: blur(2rem);
}

.card {
  width: 60%;
  margin: 0 auto;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  // box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgb(34 33 81 / 1%), 28px 28px 28px 0 rgb(34 33 81 / 25%);
  justify-content: space-between;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

